.container {
  width: 400px;
  height: 92px;
  background-color: rgb(185, 137, 230);
  padding: 30px 30px;
  overflow: hidden;
  border-radius: 25px;
  transition: 0.5s ease-out;
}

h1 {
  font-size: 30px;
  line-height: 44px;
}

img {
  display: block;
  width: 200px;
}
